<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增文献')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-literature-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">文献标题：</label>
				<div class="col-sm-8">
					<input id="literatureTitle" name="literatureTitle" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">文献类目id：</label>
				<div class="col-sm-8">
					<input id="literatureTypeId" name="literatureTypeId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">文献作者ID：</label>
				<div class="col-sm-8">
					<input id="literatureAuthorId" name="literatureAuthorId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">文献内容：</label>
				<div class="col-sm-8">
					<input id="literatureContent" name="literatureContent" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">文献创建时间：</label>
				<div class="col-sm-8">
					<input type="text" class="time-input" id="literatureCreateTime" placeholder="文献创建时间" name="literatureCreateTime"/>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">文献状态：</label>
				<div class="col-sm-8">
					<input id="literatureStatus" name="literatureStatus" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "lms/literature"
		$("#form-literature-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-literature-add').serialize());
	        }
	    }
	</script>
</body>
</html>
